<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quota.dal.mapper.QuotaInfoMapper">

  <sql id="Base_Column_List">
    id, clientId, quotaType, currency, amount, status, remark, created, modified
  </sql>

  <sql id="common_where">
    <where>
      <if test="clientId != null and clientId != ''">AND clientId = #{clientId}</if>
      <if test="quotaType != null and quotaType != ''">AND quotaType = #{quotaType}</if>
      <if test="currency != null and currency != ''">AND currency = #{currency}</if>
    </where>
  </sql>

  <sql id="page_where">
    <where>
      <if test="quotaInfo.id != null">AND quotaInfo.id = #{id}</if>
      <if test="quotaInfo.clientId != null and quotaInfo.clientId != ''">AND quotaInfo.clientId = #{clientId}</if>
      <if test="quotaInfo.quotaType != null and quotaInfo.quotaType != ''">AND quotaInfo.quotaType = #{quotaType}</if>
      <if test="quotaInfo.currency != null and quotaInfo.currency != ''">AND quotaInfo.currency = #{currency}</if>
      <if test="quotaInfo.status != null and quotaInfo.status != ''">AND quotaInfo.status = #{status}</if>
    </where>
  </sql>

  <select id="selectLockByUqKey" parameterType="com.quota.dal.pojo.QuotaInfoDO" resultType="com.quota.dal.pojo.QuotaInfoDO">
    select
    <include refid="Base_Column_List" />
    from quota_info
    where clientId = #{clientId}
    and quotaType = #{quotaType}
    and currency = #{currency}
    FOR UPDATE
  </select>

  <select id="selectList" parameterType="com.quota.dal.pojo.QuotaInfoDO" resultType="com.quota.dal.pojo.QuotaInfoDO">
    select
    <include refid="Base_Column_List" />
    from quota_info
    <include refid="common_where"/>
  </select>

  <insert id="insertSelective" parameterType="com.quota.dal.pojo.QuotaInfoDO">
   insert into quota_info (clientId, quotaType,
          currency, amount, status,
          remark
          )
    values (#{clientId}, #{quotaType},
          #{currency}, #{amount}, #{status},
          #{remark}
          )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quota.dal.pojo.QuotaInfoDO">
    update quota_info
    <set>
      <if test="clientId != null">
        clientId = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="quotaType != null">
        quotaType = #{quotaType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPageList" resultType="com.quota.dal.pojo.QuotaInfoDO">
    select <include refid="Base_Column_List" />
    from quota_info
    <include refid="page_where"/>
    order by id
    limit #{page},#{pageSize}
  </select>
</mapper>